<head>
    <link rel="stylesheet" href="login-menu.component.css">
</head>
<body>
    <div id="parent">
        <div id="block">
            <h1>VoiceBeam</h1>
            <div id="login-area">
                <input id="email" type="email" name="email" placeholder="Email"><br />
                <input id="password" type="password" name="passwort" placeholder="Password">
                <button (click)="onButtonLoginClick($event)" id="login-button">Login</button>
            </div>
        </div>
    </div>
</body>