<div id="top-container">
    <div id="user-bar">
        <span class="material-icons">arrow_back</span>
        <div id="currentuser">Name
            <span class="material-icons">account_circle</span>
        </div>
    </div>
    <div class="message" *ngFor="let message of MessageHistory">
        {{message.from}} | {{message.to}} | {{message.audioLength}}
    </div>
</div>
<div id="bottom-container">
    <div id="content">
        <button id="ButtonSend" class="material-icons">mic</button>
    </div>
</div>