<div id="top-container">
    <div id="user-bar">
        <span (click)="navigateToUserMenu()" class="material-icons">arrow_back</span>
        <div id="currentuser">Name
            <span class="material-icons">account_circle</span>
        </div>
    </div>
    <div style="width: 100%; height:100%; padding: 0px">
        <div class="{{message.class}}" *ngFor="let message of MessageHistory">
            <span class="material-icons">{{message.icon}}</span> {{message.text}}
        </div>
    </div>
</div>
<div id="bottom-container">
    <div id="content">
        <button id="ButtonSend" class="material-icons">mic</button>
    </div>
</div>