/* Global Styles */

@import '~material-icons/iconfont/material-icons.css';

* {
  color: #616161;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}
  
body {
  --primary-color: #ff8c00;
}
  
.container {
  display: flex;
  flex-direction: row;
}

router-outlet *  {
}

.noselect {
  user-select: none;-moz-user-select: none; -webkit-user-select: none;-ms-user-select: none;
}

/* Text */

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

h1, h2 {
  font-weight: lighter;
}

p {
  font-size: 14px;
}

/* Hyperlink */

a {
  cursor: pointer;
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
  display: block;
  text-transform: uppercase;
}

/* Button */
.button, button {
  width: 300px;
  height: 50px;
  vertical-align:middle;
  align-items: center;
  border-radius: 2px;
  font-size: 30px;
  cursor: pointer;
  background-color: chocolate;
  color: white;
  border: none;
}

.button:hover, button:hover {
  opacity: 0.8;
  font-weight: normal;
}

.button:disabled, button:disabled {
  opacity: 0.5;
  cursor: auto;
}
html, body { height: 100%; }
body { margin: 0; font-family: 'Open Sans', sans-serif; }