<div id="Navbar">
    <div class="Action">
        <span class="material-icons" style="font-size: 23px;">home</span>
        <p style="font-size: 15px;">Home</p>
    </div>
    <div class="Action" style="width: 34%;"> 
        <span class="material-icons" style="font-size: 23px; color: white;">chat_bubble</span>
        <p style="font-size: 15px;">Chat</p>
    </div>
    <div class="Action">
        <span class="material-icons" style="font-size: 23px; color: white;">settings</span>
        <p style="font-size: 15px;">Einstellungen</p>
    </div>
</div>