h1 {
    color: white;
    font-size: 25px;
    margin-top: 20px;
}
#top-bar {
    display: flex;
    background-color: #f24726;
    height: 60px;
    width: 100%;
}
#content {
    display: flex;
	align-items: center;
    height: 100%;
    width: 100%;
    padding: 10px;
}
#Person {
    margin: 0 0 0 auto;
    font-size: 32px;
    transition: 0.3s;
}

#Person:active {
    color: #272727
}