#parent {
    background-color: darkorange;
    height: 100%;
    width: 100%;
    display: flex;
	align-items: center; /* Vertikale Zentrierung */
	justify-content: center; /* Horizontale Zentrierung */
}

h1 {
    color: white;
    font-size: 50px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    margin-top: -100px;
}

#register-area {
    text-align: center;
    padding: 0 10px 0 10px;
    width: 100%;
    margin-top: 100px;
}

#create-button {
    text-align: center;
    margin-top: 40px;
    width: 100%;
}

a.link {
    color: white;
    float: left;
}