<head>
    <link rel="stylesheet" href="login-menu.component.css">
</head>
<body>
    <div id="parent">
        <div id="block">
            <h1>VoiceBeam</h1>
            <div id="login-area">
                <input id="email" type="email" name="email" placeholder="Email" style="margin-bottom: 12px;">
                <input id="password" type="password" name="passwort" placeholder="Password">
                <a class="link">Forgot password?</a>
                <button (click)="onButtonLoginClick($event)" id="login-button">Login</button>
                <a routerLink="register" class="link" style="margin-top: 6px;">Create a new account</a>
            </div>
        </div>
    </div>
</body>