<head>
    <link rel="stylesheet" href="login-register.component.css">
</head>
<body>
    <div id="parent">
        <div id="block">
            <h1>VoiceBeam</h1>
            <div id="register-area">
                <input id="username" type="text" name="password" placeholder="Username" style="margin-bottom: 12px;">
                <input id="email" type="email" name="email" placeholder="Email" style="margin-bottom: 12px;">
                <input id="password" type="password" name="passwort" placeholder="Password">
                <button id="create-button" (click)="createUser()">Create</button>
            </div>
        </div>
    </div>
</body>